.row {
    background:var(--secondary-color);
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 0;
    border-top: none;
    border-left:  none;
    border-right: none;
    position: relative;
}

.row__label {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--main-color);
    font-size: var(--font-size-s);
    pointer-events: none;
    transition: 0.2s ease-in-out;
    cursor: text;
    white-space: nowrap;
}

.row__button {
    display: block;
    color: var(--main-color);
    background: var(--secondary-color);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: var(--font-size-xl);
    min-height: 214px;
}
    