.row {
    background: var(--main-color);
    padding-left: 12px;
    padding-top: 5px;
    border-bottom: 1.6px solid var(--secondary-color);
    padding-bottom: 2px;
}

.row__input {
    display: none;
}

.row__label {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: var(--font-size-m);
    text-transform: uppercase;
    line-height: 100%;
    color: var(--main-color);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.row__title {
    font-weight: 900;
    font-size: var(--font-size-s);
    color: var(--secondary-color);
    display: block;
    line-height: 100%;
}


.row__input:checked + .row__label {
    color: var(--secondary-color);
    text-shadow: none;
}