:root {
    --main-color:  #000000;
    --secondary-color:  #ffffff;
    --error-color: #FF0000;
    --sucess-color: #BC9B16;
    --font-size-s: 7px;
    --font-size-m: 35px;
    --font-size-xl: 201.5px;
}


@media (min-width: 1024px) {
   :root {
    --font-size-s: 19px;
    --font-size-m: 96px;
    --font-size-xl: 550px;
   }}