@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-black-webfont.woff") format("woff");
  /* url("../fonts/montserrat-black-webfont.ttf") format("ttf"); */
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-medium-webfont.woff") format("woff");
  /* url("../fonts/montserrat-medium-webfont.ttf") format("ttf"); */
}
