@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Black.woff2") format("woff2"),
    url("../../static/fonts/Montserrat-Black.woff") format("woff");
  /* url("../fonts/montserrat-black-webfont.ttf") format("ttf"); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../../static/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../../static/fonts/Montserrat-Medium.woff") format("woff");
  /* url("../fonts/montserrat-medium-webfont.ttf") format("ttf"); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


