@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../../fonts/Montserrat-Black.woff") format("woff");
  /* url("../fonts/montserrat-black-webfont.ttf") format("ttf"); */
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../../fonts/Montserrat-Medium.woff") format("woff");
  /* url("../fonts/montserrat-medium-webfont.ttf") format("ttf"); */
  font-weight: 500;
}


